#signOut {
    font-family: gisha;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 8%;
    font-size: 16px;
    cursor: pointer;
    float: right;
    text-decoration: none;
    margin-top: -92px;
    color: black;
    font-weight: normal;
}


#wrapper {
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  margin-left: -220px;
}
#sidebar-wrapper {
  z-index: 1000;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}
#page-content-wrapper {
  width: 90vw;
  padding-top: 2%;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
  text-align:right;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  position: absolute;
  top: 20px;
  left: auto;
  z-index: 999;
  right:-0.02%;
  display: block;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed,
.hamburger.is-open {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 60%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open {
  left: auto;
  right: 180px;
  top:-80px;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all 0.35s ease-in-out;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 1;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

main {
   width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding-right: 9px;
}

/* NAVIGATION */

nav {
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 0px #fff;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-left: 35px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 6.5px;
  text-decoration: none;
  color:#822040;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 20px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a:after {
  text-align: center;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

#logo{
    height:100px;
    width:125px;
    margin-top:10px;
    margin:0 auto;
    margin-left:6%;
}
@media (max-width: 768px) { 
    #logo    {
        height:100px;
        width:125px;
        margin-top:10px;
        margin:0 auto;
        margin-left:100px;
    }
}
@media (max-width: 480px) { 
    #logo    {
        height:100px;
        width:125px;
        margin-top:10px;
        margin:0 auto;
        margin-left:80px;
    }
}

#log{
    display: inline;
}

#logIn{
padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 4%;
    font-size: 28px;
    cursor: pointer;
    float: right;
    color: black;
}
@media (max-width: 768px) { 
    #logIn    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 7%;
        font-size:28px;
        cursor:pointer;
        float:right;
    }
}
@media (max-width: 480px) { 
    #logIn    {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 12%;
        font-size:28px;
        cursor:pointer;
        float:right;
    }
}
#description{
    font-size: 20px;
    text-align: center;
    color: #822040;
    display:block;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    margin-right:10px;
}

.img-fluid{
    margin: 0 auto;
}

#find_a_place p{
    display: inline-block;
    margin: 0 auto;
    color:#fff;
    text-align: center;
    background-color:black;
    font-family: gisha;
    font-size:20px;
    margin-top:20px;
    margin-bottom:20px;
    padding: 10px 10px;
    border-radius:30px;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  margin-bottom: 45px;
    margin-right: 20px;

}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: gisha;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  font-family: gisha;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.footer {
    color: #878c94;
    background-color: #c18080;
    border-top: 4px solid #862d59;
    margin-top:105px;
    bottom: 0px;
    width:100%;
}

.footer .title{
	text-align: right;
	color:#fff;
	font-size:22px;
    font-family: gisha;
}

.footer .social-icon{
	padding:0px;
	margin:0px;
}

.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}

.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}

.footer .acount-icon .fa{
	margin-right:25px;
}

.footer .category a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

hr{
    margin:0 !important;
}
#logo_foo{ 
    height: 8%;
    width: 125px;
    padding-bottom: 20px;
}
@media (min-width: 1200px) { 
    #logo_foo    {
    height: 8%;
    width: 125px;
    padding-bottom: 20px;
    margin-right:130px;
    }
}
#about{
    font-family: gisha;
    font-size:18px;
    color:#fff;
}
@media (max-width:768px){
        body, html{
            overflow: auto !important;
            max-height: 100% !important;
    }
}