table{

font-family: gisha;

}
button{
color: white;
background-color:#822040;
border-color:#822040;
}
tr{
padding:20px;
}
td{
padding:20px;
width:397px;
height:43px;
}
th{
text-align:right;

}
input[type=submit]{
font-size:20px;
font-weight:bold;
width:250px;
background-color:#822040;
border-color:#822040;
display:block;
margin-top:40px;
margin-bottom:30px;

}
input[type=submit]:hover{
 background-color:#822040;
border-color:#822040;
color:white;
}
#divSupport, #divShelter, #divLine{
  display:none;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  box-shadow: none !important;
  background-color:#822040 !important;
  border-color:#822040;
}
.modal-header .close{
    margin-top:-2px;
    font-size:xx-large;
}
.modal-body{
    position:relative;
    padding-right:35px !important;
}
.form-control{
    width:80%;
    margin-bottom: 20px;
    margin-right:20px;
}
#matchTitle{
    font-family:gisha;
    font-size: 18px;
    font-weight:bold;
}