table{
    font-family: gisha;
    max-width:500px;
}
button{
    color: white;
    background-color:#822040;
    border-color:#822040;
}
tr{
    padding:10px;
}
td{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:30px;
    margin-left:30px;
    width:397px;
    height:43px;
}
th{
    text-align:right;
    margin-right:25px;
    
}
input[type=submit]{
    font-size:20px;
    font-weight:bold;
    width:250px;
    background-color:#822040;
    border-color:#822040;
    display:block;
    margin-top:40px;
    margin-right:50px;
    margin-bottom:30px;
    
}
  input[type=submit]:hover{
     background-color:#822040;
    border-color:#822040;
    color:white;
  }
  #divSupport, #divShelter, #divLine{
      display:none;
  }
  .btn-info:hover, .btn-info:active, .btn-info:focus {
      box-shadow: none !important;
      background-color:#822040 !important;
      border-color:#822040;
  }
  #pageTitle{
    color:#822040;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size:38px;
    margin-bottom: 30px;
    margin-top: -20px;
    padding-top:60px;
}
              