main{
    font-family: gisha;
    font-size:17px;
}
#activityTitle{
    color:#822040;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size:38px;
    margin-bottom: 30px;
    margin-top: -20px;
    padding-top:60px;
}
h3{
  font-size:20px !important; 
}
p{
    font-size:17px;
}
li{
  font-size:17px;  
}

.paragraph{
    margin-bottom:350px;
}