.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;   
}

.fa:hover {
    opacity: 0.7;
}

.col-sm-6 h2{
    text-align: center;
}

.col-sm-6 p{
    text-align: center;
    font-size: 14px;
}

form{
    font-family: gisha;
    font-size:17px;
}

input[type=tel]{
    /*background-image: url('mobile.png');
    background-size: 30px 22.5px;
    background-position: 100%; 
    background-repeat: no-repeat;*/
    padding-right: 15px;
    font-size: 14px;
}
input[type=text]{
    /*background-image: url('calendar.png');
    background-size: 20px 15px;
    background-position: 100%; 
    background-repeat: no-repeat;*/
    padding-right: 15px;
    font-size: 14px !important;
}

input {
    caret-color:#822040;
}

select{
    display:block !important;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px !important;
    line-height: 3.428571;
    color:#555;
    border:1px solid #ccc;
    font-family:inherit;
    margin: 0;
    border-radius: 4px;
    box-shadow:insert 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font:inherit;
    caret-color: rgb(130,32,64);
    box-sizing: border-box;
    cursor:pointer;
    /*background-image: url('location.png');
    background-size: 15px;
    background-position: 100%;
    background-repeat: no-repeat;*/
    padding-right: 15px;
}

    
.btn:hover{
    transform: scale(1.05);
}
input[type=submit]{
    font-size:20px;
    max-width: 150px;
    background-color:#822040;
    border-color:#822040;
    width:100px;

}
input[type=submit]:hover{
    border-color:#822040;
    background-color:#822040;

}

.abcRioButton{
    margin:auto;
}
#pageTitle {
    color:#822040;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size:38px;
    margin-bottom: 30px;
    margin-top: -20px;
    padding-top:60px;
}

#logo{
    margin-left: 110px;
}