

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}


.center {
  text-align: center;
}

section {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

header{
    height: 30%;
}

main{
    width: 98%;
}

nav {
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 0px #fff;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-left: 35px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 6.5px;
  text-decoration: none;
  color:#822040;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 20px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a:after {
  text-align: center;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

#logo{
    height:100px;
    width:125px;
    margin-top:10px;
    margin:0 auto;
    margin-left:60px;
}

#log{
    display: inline;
}

#logIn{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-size:28px;
    cursor:pointer;
    float:right;
}

#description{
    font-size: 20px;
    text-align: center;
    color: #822040;
    display:block;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    margin-right:10px;
}

.img-fluid{
    margin: 0 auto;
}

.footer {
    color: #878c94;
    background-color: #c18080;
    border-top: 4px solid #862d59;
    margin-top:80px;
}

.footer .title{
	text-align: right;
	color:#fff;
	font-size:22px;
    font-family: gisha;
}

.footer .social-icon{
	padding:0px;
	margin:0px;
}

.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}

.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}

.footer .acount-icon .fa{
	margin-right:25px;
}

.footer .category a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

hr{
    margin:0 !important;
}

#logo_foo{ 
    height: 8%;
    width: 125px;
    padding-bottom: 20px;
}

#about{
    font-family: gisha;
    font-size:18px;
    color:#fff;
}

#pageTitle{
    padding-bottom: 5px;
    padding-top:5px;
    color:white;
    -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color:#822040;
    font-size:38px;
    font-family: 'Amatic SC', cursive;
  
}
.required{
    color:red;
    display:inline-block;
}
#btn{
border-radius:10px;
color:#822040;
background-color: #cccccc;
cursor: pointer;
font-weight:bolder;
margin-bottom: 10%;
font-family: 'Amatic SC', cursive;
font-size:20px;
width:6%;
}

.btn:hover{
    transform: scale(1.1);
}

.form-control{
    border-color:darkgrey;
}
.form-control:focus{
    border-color:#822040;
}
input[type=tel]{
    background-image: url('phone.png');
    background-size: 20px 15px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px;
    font-size: 17px;
}
input {
  caret-color:#822040 ;
}


#shelterName{
    background-image: url('shelter.png');
    background-size: 20px 20px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px;
    
}
#shelterManager{
    background-image: url('contact.png');
    background-size: 15px 15px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px; 
}
#ristType{
    background-image: url('risk.png');
    background-size: 20px 20px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px; 
}

#street{
    background-image: url('location.png');
    background-size: 20px 20px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px; 
    
}
#email{
    background-image: url('email.png');
    background-size: 20px 20px;
    background-position: 100%; 
    background-repeat: no-repeat;
    padding-right: 30px; 
}

#acessability{
	margin-left:10px;
	margin-bottom:5px;
	clear:both;
	width: 50px;
    height: 50px;
	float:left-side;
	cursor:pointer;

}
.form{
    font-family: 'Amatic SC', cursive;
    font-size:24px;
    max-width:500px;
    padding-right: 20px;
    
}
.form-group, .check{
max-width: 500px;

}
.option{
    font-weight: lighter;
}
select{
display:block !important;
width:100%;
height:34px;
padding:6px 12px;
font-size:17px !important;
line-height: 3.428571;
color:#555;
border:1px solid #ccc;
font-family:inherit;
margin: 0;
border-radius: 4px;
box-shadow:insert 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
font:inherit;
caret-color: rgb(130,32,64);
box-sizing: border-box;
cursor:pointer;
}

#cityChange{
    display:none;
}
input[type=text], input[type=email]{
    font-size:17px;
}
input[type=submit]{
    font-size:20px;
    font-weight: bold;
    max-width: 150px;
    background-color:#822040;
    border-color:#822040;
    width:80px;

}
input[type=submit]:hover{
     border-color:#822040;
    background-color:#822040;
}
.btn-info{
    background-image: linear-gradient(to bottom,#822040 0 ,#822040 100% );
}
.modal-header .close {
    margin-top: -2px;
    font-size: xx-large;
}

.btn-default{
    font-size:20px;
    color:#822040 !important;
    margin-right:20px;
}